@font-face {
  font-family: 'm6x11plus';
  src: url('/fonts/m6x11plus.ttf') format('truetype');
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'm6x11plus', monospace;
  background: #0a1a0d;
  color: #fff;
}
